*{box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-margin: 3ch;

}
:root{
    font-size: 12vw;
    line-height: 1.3em;
	--clr-text:#fff;
	--clr-background:#000;

	text-rendering: optimizeLegibility;
}
::selection{
	background-color: var(--clr-background);
}
@font-face {
  font-family: "font";
  src: 		url("ReservoirPlaquePreviewVF.woff") format("woff-variations");
	  url("ReservoirPlaquePreviewVF.woff2") format("woff2-variations");
}

body{
	font-family: "font", monospace;
    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
	background-color: var(--clr-background);
	color:var(--clr-text);
	
	height: 100%;
	margin: 15vh;
	padding: 0;
	overflow: hidden;

}

main{
	height: 70vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-transform: capitalize;

	font-variation-settings: "seri" 0, "shrp" 0;

	animation: variable 3s linear infinite alternate;

}

@keyframes variable{
	0%{
		font-variation-settings: "seri" 0, "shrp" 0;
	}
	100%{
		font-variation-settings: "seri" 100, "shrp" -100;
	}
}


